
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet" />
<body>
	<div>
		<h4>INSERISCI I NUOVI DATI DEL PROGETTO:</h4>
	</div>
	<form id="registerProjectForm"
		th:action="@{/aggiornaP/{id}(id=${project.id})}" method="POST"
		th:object="${project}">

		<table>
			<tr>
				<td><label for="projectNameInput">Nome:</label>
				<td><input id="projectNameInput" type="text" th:field="*{name}"
					placeholder="NAME" value="*{name}" required /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/progetto}"><button type="submit">home</button></a>
</body>
</html>