<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thumeleaf.org">
<head>
<title>ProjectManager</title>
</head>
<body>
	<h1>Aggiorna dati Utente</h1>
	<form id="registerUserForm" th:action="@{/aggiornaDatiUtente}"
		method="POST">

		<table>

			<tr>
				<td><label for="nameInput">Name</label>
				<td><input id="nameInput" type="text" placeholder="NAME"
					required th:field="${user.name}" /></td>

			</tr>
			<tr>
				<td><label for="surnameInput">Surname</label>
				<td><input id="surnameInput" type="text" placeholder="SURNAME"
					required th:field="${user.surname}" /></td>

			</tr>
			<tr>
				<td>
					<button type="submit">Aggiorna</button>
				</td>
			</tr>
		</table>
	</form>

</body>

</html>