
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<h4>TASK</h4>
	</div>
	<form th:action="@{/salvaTask(id=${project.id})}" method="POST" th:object="${task}">
		
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" placeholder ="inserisci" /></td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td><input type="text" th:field="*{descrizione}" placeholder ="inserisci" /></td>
			</tr>
			<tr>
				<td>Commento:</td>
				<td><input type="text" th:field="*{commento}" placeholder ="inserisci" /></td>
			</tr>		
			<tr>
				
			</tr>
			<tr>
			<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</form>
		
		
		
			<a href="/task"><button type="submit"> Torna indietro </button></a>
		
		
</body>
</html>