
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<h4>TASK</h4>
	</div>
	<form id="registerTaskForm" th:action="@{/salvaTask(id=${project.id})}"
		method="POST" th:object="${task}">

		<table>
			<tr>
				<td><label for="taskNameInput">Nome:</label>
				<td><input id="taskNameInput" type="text" th:field="*{nome}"
					placeholder="NOME" required /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="taskDescrizioneInput">Descrizione:</label>
				<td><input id="taskDescrizioneInput" type="text"
					th:field="*{descrizione}" placeholder="DESCRIZIONE" required /></td>
				<td th:if="${#fields.hasErrors('descrizione')}"
					th:errors="*{descrizione}" th:style="'color:red'"></td>
			</tr>

			<tr>

			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>



	<a th:href="@{/gestisciTask/{id}(id=${project.id})}"><button
			type="submit">Torna indietro</button></a>


</body>
</html>