<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1" />
	<link href="main.css" rel="stylesheet" />
	<title>inserimento dati utente</title>
	
</head>
<body>
	<h1>Inserisci dati Utente</h1>
	<form action="utente" method="post">
		<div>Nome: <input type="text" name="nome" value="${nome}" />
		</div>
		<div>Cognome: <input type="text" name="cognome" value="${cognome}" />
		</div>
		<div><input type="submit" name="comando" value="Salva" /></div>
	</form>
	<div class="footer"><a href="index.html">Home</a></div>
	</body>
</html>