<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>ProjectManager</title>
</head>
<body>
	<div>
		<h4>INSERISCI I DATI:</h4>
	</div>
	<form th:action="@{/login}" method="post">

		<tabel>
		<tr>

			<td><label> Username : </label>
			<td><input type="text" name="username" placeholder="USERNAME" />
			</td>
		</tr>
		<tr>
			<td><label> Password: </label>
			<td><input type="password" name="password"
				placeholder="PASSWORD" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Sign In" /></td>
		</tr>
		</tabel>
	</form>
	<h2>
		<a href="/index"><button type="submit">Torna indietro</button></a>
	</h2>
</body>
</html>