<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/main.css}" rel="stylesheet" />

<head>
<title>Scheda Progetto</title>
</head>

<body>
	<h1>Scheda progetto:</h1>
	<table>
	<thead>
			<tr>
				<th>Nome</th>
				<th>Proprietario</th>
				<th>Membri</th>
				<th>Tag</th>
				<th th:each="task : ${tasks}">Tasks</th>
				
			

			</tr>
		</thead>
	<tbody>

		<tr>
				<td th:text="${project.name}"></td>
				<td th:text="${project.owner}"></td>
				<td th:text="${project.members}"></td>
				<td th:text="${project.tagProgetti}"></td>
				<td th:each="task : ${tasks}">
				<span th:text="|${task.nome} ${task.descrizione} ${task.commenti} ${task.isCompleto}|"></span></td>
			

		</tr>
	</tbody>
	</table>
	<a th:href="@{/progetto}"><button type="submit">home</button></a>



</body>



</html>