<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div>
		<h4>TASK</h4>
	</div>
		<a th:href="@{/aggiungiTask(id=${project.id})}"><input type="submit" value ="Aggiungi TASK"/></a>
		<br>
		<br>
		<br>
		<br>
	
	
	
		
		
		<table>
		
		<tr>
		
		<li th:each="task : ${tasks}">
		<span th:text = "|${task.nome} ${task.descrizione} ${task.commento}|"></span>&emsp;&emsp;<a th:href="@{/eliminaTask(id1=${project.id},id2=${task.id})}"><button type="submit"> Elimina </button></a>		
		<a th:href="@{/aggiornaTask(id1=${project.id},id2=${task.id})}"><button type="submit"> Aggiorna </button></a>
		
		<a th:href="@{/condividiTask(id1=${project.id},id2=${task.id})}"><button type = "submit">Condividi</button></a>
		<a th:href="@{/visualizzaTag(id1=${project.id},id2=${task.id})}"><button type = "submit">Tag</button></a>
		<a th:href="@{/aggiungiTag(id1=${project.id},id2=${task.id})}"><button type="submit">Aggiungi Tag</button></a>	</li>
		
		
		
		
		
		</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<a th:href="@{/progetto}"><button type="submit"> Torna indietro </button></a>
		
		
</body>
</html>