<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>ProjectManager</title>
</head>

<body>
<h1>Mio Profilo</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credenziali.username}">...</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td th:text="${user.name}">...</td>
        </tr>
        <tr>
            <td>Cognome</td>
            <td th:text="${user.cognome}">...</td>
        </tr>
        <tr>
            <td>Ruolo</td>
            <td th:text="${credenziali.role}">...</td>
        </tr>
        <tr>
<!--             <td>Registered at: </td>
            <td th:text="${user.creationTimestamp}">...</td>
        </tr>
        <tr>
            <td>Last Update at:</td>
            <td th:text="${user.lastUpdateTimestamp}">...</td>
        </tr> -->
    </table>
    <h2>Back to <a href="/home">Home</a></h2>
</body>
</html>