<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
	<link th:href="@{/main.css}" rel="stylesheet" />
<head>
<title>ProjectManager</title>
</head>

<body>
	<h1>Profilo:</h1>
	<table>
		<tr>
			<td>Username</td>
			<td th:text="${credenziali.username}">...</td>
		</tr>
		<tr>
			<td>Nome</td>
			<td th:text="${user.name}">...</td>
		</tr>
		<tr>
			<td>Cognome</td>
			<td th:text="${user.surname}">...</td>
		</tr>
		<tr>
			<td>Ruolo</td>
			<td th:text="${credenziali.role}">...</td>
		</tr>
		<tr>
	</table>
	<a th:href="@{/aggiornaUtente}"><button type="submit">Aggiorna</button></a>
	<h2>
		<a th:href="@{/tornaIndietro}"><button type="submit">Torna indietro</button></a>
	</h2>
</body>
</html>